{% capture footer_contents %}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}

{% if site.footer_fixed %}
  {% endif %}

<div class="container-fluid text-center" style="margin-top: 20px; padding-bottom: 20px;">
  <a href="https://mapmyvisitors.com/web/1c2l8" title="Visit tracker">
    <img src="https://mapmyvisitors.com/map.png?d=GyBBQbYvWOjNM-934UOTf3mCjii7x2NHm13RAUFtLYs&cl=ffffff" 
         style="max-width: 250px; height: auto; border-radius: 8px; opacity: 0.9;" 
         alt="Visitor Map" />
  </a>
</div>
